<!DOCTYPE html>
<html>
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.8/angular.min.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.8/angular-route.js"></script>

<body ng-app="storeApp">

<h1>Store</h1>

<div class="products" ng-controller="StoreController as store">
  <input type="search" class="search" ng-model="store.query">
  <ul>
    <li ng-repeat="product in store.products | filter:store.query ">
      <h2 ng-bind="product.title"></h2>
      <img ng-src="img/{{product.imageUrl}}"></img>
      <p>$ <span ng-bind="product.price"></span></p>
      <p ng-bind="product.description"></p>
    </li>
  </ul>
</div>

<script>
  var app = angular.module("storeApp", []);

  app.controller('StoreController', ['$http', function($http) {
    var store = this;
    store.products = [];

    $http.get('products.json').success(function(data) {
      store.products = data.products;
      console.log(data.products);
    });
  }]);
</script>

</body>
</html>


